.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login-display{
        border-bottom: 2px solid #ccc;
    }
    .login{
        justify-content: center;
        flex-wrap: wrap;
        .login-container{
            width: 330px;
            margin: 0 auto;
            text-align: center;
                .form-group{
                    padding: 10px 0;
                    span{
                color: red;
                font-size: 12px;
                    }
                    .formBox{
                        label{
                display: inline-block;
                padding: 5px 0;
                            }
                    &:last-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap:10px;
                        }
                    }
                    button{
                        outline: none;
                        border: 1px solid #000;
                        background-color: transparent;
                        padding: 5px 10px;
                        cursor: pointer;
                    }
                }
        }
        .reg-container{
        width: 330px;
        margin: 0 auto;
        text-align: center;
        .form-group{
            padding: 10px 0;
            label{
                display: inline-block;
                padding: 5px 0;
            }
            span{
                color: red;
                font-size: 12px;
            }
            button{
                display: inline-block;
                outline: none;
                border: 1px solid black;
                padding: 5px 30px;
                background-color: transparent;
                cursor: pointer;
            }
        }
        }
    }
    .member{
        background-color: #fff;
        width: 60%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        margin: 50px 0;
        .member-info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 50px;
                height: 30px;
            }
        }
        .backBtn{
            text-align: left;
            width:100%;
            p{
                font-size: 14px;
                color: #868686;
                cursor: pointer;
                &:hover{
                    color: #303030;
                }
            }
        }
        .member-detail{
            width: 100%;
            display: flex;
            justify-content: center;
            .detail__box{
                height: 100px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ef9999;
                border-radius: 15px;
                &-1{
                    margin-right: 30px;
                }
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: #303030;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
        .order-detail{
            width: 100%;
            .order-box{
            border: 1px solid black;
                .order-list{
                        list-style: none;
                    li{
                        .list-top{
                        position: relative;
                        padding: 10px 20px;
                        border-bottom: 1px solid black;
                            .list-open{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                        }
                        }
                        .list-bottom{
                            border: 1px solid #ccc;
                            transform: translateY(-100%);
                            transition: all .3s ease-out;
                            display: none;
                            .order__table  {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                &-name{
                                    width:50%;
                                    display: flex;
                                    align-items: center;
                                    gap: 20px;
                                    .img{
                                        img{
                                            width: 100px;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                        .open{
                            transform: translateY(0);
                            transition: all .3s ease-out;
                            display: block;
                        }
                    }
                }
            }
        }
        
    }
    
}
