.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    .login-container{
    width: 330px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    .form-group{
        border: 1px solid black;
        padding: 10px 0;
        .formBox{
            label{
                display: inline-block;
                padding: 5px 0;
            }
            button{
                display: inline-block;
                outline: none;
                border: 1px solid black;
                padding: 5px 30px;
                background-color: transparent;
            }
            &:last-child{
                display: flex;
                justify-content: center;
                align-items: center;
                gap:10px;
            }
        }
    }
    }
    .reg-container{
        width: 330px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
        .form-group{
            padding: 10px 0;
            label{
                display: inline-block;
                padding: 5px 0;
            }
            button{
                display: inline-block;
                outline: none;
                border: 1px solid black;
                padding: 5px 30px;
                background-color: transparent;
            }
        }
    }
}
