*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    position: relative;
}
.header-container{
    width: 100%;
    .header{
        width: auto;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        backdrop-filter: blur(10px);
        &__logo{
            h1{
                cursor: pointer;
            }
        }
        &__navbar{
            position: relative;
            &-link{
                display: flex;
                justify-content: space-evenly;
                
                li{
                    list-style: none;
                    padding: 3px 4px ;
                    margin-left:5px ;
                    cursor: pointer;
                }
                .header-box{

                    background-color: antiquewhite;
                    position: absolute;
                    top: 40px;
                    width: 80px;
                    box-shadow: 0 10px 60px rgba(#000,.25);
                }
                .box1{
                    left: calc(80px *1);
                }
                .box2{
                    left: calc(80px *2);
                }
                .box3{
                    left: calc(80px *3);
                }
            }
        }
        &__btns{
            button{
                outline: none;
                border: none;
                background-color: transparent;
                display: inline-block;
                padding: 5px 10px;
                background-color: cadetblue;
                cursor: pointer;
            }
        }

    }
}
.main-container{
    .main{
        border: 1px solid #000;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        min-height:auto ;
        .aside{
            width: 230px;
            height: 500px;
            position: sticky;
            top: 0;
            background-color: aquamarine;
            ul{
                width: 100%;
                li{
                    list-style: none;
                    padding: 10px ;
                    cursor: pointer;
                }
            }
        }
        .products{
            width: 900px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .product-box{
                padding: 10px 0;
                &__img{
                    width: 200px;
                    height: 200px;
                    border: 1px solid red;
                }
                &__text{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}
.footer-container{
    .footer{
        text-align: center;
        height: 100px;
    }
}