

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '../scss/_index.scss';
@import '../scss/_member.scss';
@import '../scss/_product.scss';
@import '../scss/_cart.scss';
@import '../scss/_check.scss';
@import '../scss/_confirm.scss';
